/* Custom stylesheet by Amber Tsosie.
 * Pure CSS responsive navbar created with help from tutorial by Kevin Powell (https://www.kevinpowell.co/). */

:root {
  --bg-faded: rgba(255, 255, 255, 0.85);
  --bg-light: #f6f4ef;
  --bg-medium: #e5dfd0;
  --bg-dark: #d8d0b9;
  --bg-dark-faded: rgba(216, 208, 185, 0.75);
  --text-primary: #908c83;
  --accent-light: #812530;
  --accent-dark: #373741;
  --accent-dark-faded: rgba(55, 55, 65, 0.5);
  --accent-light-faded: rgba(129, 37, 48, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', Helvetica, sans-serif;
  color: var(--text-primary);
  background: var(--bg-light);
}

h1 {
  font-size: 1.75rem;
  /* font-weight: 800; */
  font-family: 'Lato', Helvetica, sans-serif;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.5rem;
  /* font-weight: 600; */
  font-family: 'Lato', Helvetica, sans-serif;
  margin-bottom: 0.75rem;
}

p {
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

a {
  color: var(--accent-dark);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-light);
}

.heading-bold {
  font-weight: normal;
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.heading-italic {
  color: var(--text-primary);
  font-style: italic;
  font-family: 'Lora', Times, sans-serif;
}

/* .subheading {

} */

.list-unstyled {
  list-style: none;
  line-height: 1.5;
}

.social-icon {
  fill: var(--text-primary);
}

*:focus {
  border: dotted 1px var(--accent-light);
  padding: 10px;
  outline: none;
}

/* -----------
 * NAVIGATION
 * ----------- */

#test {
  color: #ffffff;
  cursor: pointer;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin 0 2% 5vw;
  background: linear-gradient(#ffffff 40%, transparent);
}

.logo a {
  margin: 0;
  font-weight: 900;
  font-size: 1rem;
}

/* DELETE later *** showing checkbox to test jquery */
/* .nav-toggle {
  position: absolute !important;
  top: 0 !important;
  right: 25vw !important;
} */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* allows menu button (input) to gain focus,
 * making it tabbable for better accessibility */
.nav-toggle:focus ~ .nav-toggle-label {
  border: dotted 1px var(--accent-dark);
  outline: none;
}

.nav-toggle-label {
  display: grid;
  grid-template-columns: 1fr 5vw;
  grid-gap: 0.5rem;
  cursor: pointer;
}

.nav-toggle-label:hover {
  color: var(--accent-light);
}

.nav-hr-1 {
  grid-column: 2;
  grid-row: 1;
  height: 0.25rem;
  align-self: center;
  background-color: var(--bg-dark);
}

.nav-hr-2 {
  grid-column: 2;
  grid-row: 1;
  height: 0.25rem;
  align-self: center;
  background-color: var(--bg-dark);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background: var(--accent-dark);
  text-align: right;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
  z-index: -1;
  padding-top: 100px;
  padding-right: 5vw; /* to match padding-right of header (text lines up under INFO) */
}

nav li {
  margin-bottom: 1em;
}

nav a {
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: var(--bg-light);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
}

.nav-toggle:checked ~ .nav-toggle-label {
  font-size: 3vw;
}

/* when nav is toggled open, hr next to 'INFO' button turns into an 'X' close button */
.nav-toggle:checked ~ .nav-toggle-label > .nav-hr-1 {
  transform: rotate(0.125turn);
  transition: 200ms;
}

.nav-toggle:checked ~ .nav-toggle-label > .nav-hr-2 {
  transform: rotate(-0.125turn);
  transition: 200ms;
}

/* ------------------
 * INTRO SECTION
 * ------------------ */

.intro {
  position: relative;
  z-index: 1000;
  height: 100vh;
  background-color: var(--accent-dark);
  display: grid;
  grid-template-columns: 3fr minmax(min-content, 75vw) 1fr;
  grid-template-rows: 1fr min-content min-content 1fr;
  grid-row-gap: 1em;
}

.intro .title {
  grid-column: 2;
  grid-row: 2;
  font-size: 6vw;
  font-weight: 900;
  letter-spacing: 0.25rem;
  color: var(--bg-dark-faded);
  text-shadow: -3px 3px 1px #812530;
}

.intro .subtitle {
  grid-column: 2;
  grid-row: 3;
  font-size: 4vw;
}

/* -----------------
 * PROJECTS SECTION
 * ----------------- */

.projects {
  padding-top: 150px;
}

.proj-preview-tile {
  background-image: linear-gradient(transparent, #e5dfd0);
  background-size: contain;
  display: grid;
  grid-template-columns: minmax(1em, 2fr) 75vw minmax(1em, 1fr);
  padding: 2em 0;
  margin-bottom: 5em;
}

.proj-preview-img {
  grid-row: 1;
  grid-column: 2 / 3;
  padding-bottom: 1em;
}

.proj-preview-img > img {
  width: 100%;
}

.proj-preview-label {
  grid-row: 2;
  grid-column: 2 / 3;
  padding-left: 0.5rem;
}

.proj-preview-label a {
  text-decoration: none;
}

.proj-preview-hr {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  background-color: var(--bg-dark);
  height: 0.25rem;
  width: 100%;
}

/* --------------
 * ABOUT SECTION
 * -------------- */

.about-container {
  display: grid;
  grid-template-columns: minmax(1em, 5vw) 1fr 1fr 1fr minmax(1em, 5vw);
  grid-row-gap: 2em;
  padding-top: 75px;
}

.about-hr {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: center;
  background-color: var(--bg-dark);
  height: 0.25rem;
  width: 100%;
}

.about-heading {
  grid-row: 2;
  grid-column: 3 / 5;
  padding-left: 0.5rem;
}

.about-content {
  grid-row: 3;
  grid-column: 2 / 4;
  max-width: 60ch;
}

.signature {
  grid-row: 2 / 5;
  grid-column: 1 / -1;
  fill: var(--bg-faded);
  padding: 2em;
  align-self: end;
  justify-self: end;
  width: 80vw;
  z-index: -1;
}

/* ---------------------
 * PROJECT DETAILS PAGE
 * --------------------- */

.project-details {
  padding: 150px 0;
}

.project-link {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--text-primary);
  color: var(--bg-light);
  box-shadow: -4px 4px 1px #e5dfd0;
}

.project-link:hover {
  background-color: var(--accent-light);
  color: #ffffff;
}

/* main page layout */
.container-timeline {
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) 1fr minmax(min-content, 50vw) minmax(
      5vw,
      1fr
    );
  grid-auto-flow: column;
}

/* timeline decoration (bullet+line) fills 2nd column of main page layout */
.container-bullet {
  grid-column: 2 / 3;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr minmax(4em, 8em) 1fr; /* controls size of bullets */
}

/* bullets align with top of each element that has class "container-content"
   (only direct children of "container-timeline") */
.bullet {
  grid-column: 2 / 3;
  grid-row: 1;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--bg-medium);
  border-radius: 50%;
}

.vertical-line {
  grid-column: 2 / 3;
  grid-row: 1;
  height: 100%;
  width: 2px;
  background-color: var(--bg-medium);
}

/* timeline text fills 3rd column of main page layout */
.container-content {
  grid-column: 3 / 4;
  margin: 0 0 5rem 5%;
}

.container-img {
  grid-column: 1 / -1;
  display: flex; /* this removes margin around element */
  background-color: var(--bg-medium);
  background-image: linear-gradient(
      30deg,
      rgba(144, 140, 131, 0.25),
      transparent
    ),
    url('../img/projects/painted-canvas.jpg');
  background-size: contain;
}

.container-img img {
  width: 100%;
  height: 100%;
}

/* ------
 * FOOTER
 * ------ */

footer {
  padding: 1.5em 5vw; /* to match padding-left of header (text lines up under logo) */
}

/* -----------------
 * SMALLER VIEWPORTS
 * ----------------- */

@media screen and (max-width: 675px) {
  nav {
    width: 50vw;
  }

  .about-content {
    grid-column: 2 / 5;
  }

  .signature {
    grid-row: 1;
    padding: 0;
    width: 90vw;
  }

  .container-timeline {
    grid-template-columns: minmax(5vw, 1fr) 1fr minmax(min-content, 70vw) minmax(
        5vw,
        1fr
      );
  }
}

/* ------------------
 * *** DELETE LATER
 * ------------------ */

.banner {
  padding: 150px 5vw;
}
