/* Custom stylesheet by Amber Tsosie.
 * Pure CSS responsive navbar created with help from tutorial by Kevin Powell (https://www.kevinpowell.co/). */

:root {
  --bg-faded: rgba(255, 255, 255, 0.85);
  --bg-light: #f6f4ef;
  --bg-dark: #d8d0b9;
  --bg-dark-faded: rgba(216, 208, 185, 0.75);
  --text-primary: #908c83;
  --accent-light: #812530;
  --accent-dark: #373741;
}

/* ***DELETE after testing */
/* .colors {
  margin-bottom: 50px;
}
.colors div:nth-child(1) {
  background-color: #e0d3c6;
  padding: 25px;
  margin: 5px;
}
.colors div:nth-child(2) {
  background-color: #bda78e;
  padding: 25px;
  margin: 5px;
}
.colors div:nth-child(3) {
  background-color: #b46853;
  padding: 25px;
  margin: 5px;
}
.colors div:nth-child(4) {
  background-color: #a06656;
  padding: 25px;
  margin: 5px;
}
.colors div:nth-child(5) {
  background-color: #812530;
  padding: 25px;
  margin: 5px;
}
.colors div:nth-child(6) {
  background-color: #373741;
  padding: 25px;
  margin: 5px;
}
.colors div:nth-child(7) {
  background-color: #1d1822;
  padding: 25px;
  margin: 5px;
} */
/* ----------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-primary);
  background: var(--bg-light);
}

h1 {
  color: var(--accent-dark);
  font-size: 1.75rem;
  font-weight: 800;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0.75rem;
}

p {
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

a {
  color: var(--accent-light);
  text-decoration: none;
}

a:hover {
  color: var(--accent-dark);
}

.subheading {
  color: var(--accent-light);
  font-style: italic;
}

.list-unstyled {
  list-style: none;
  line-height: 1.5;
}

/* -----------
 * NAVIGATION
 * ----------- */

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 10px;
  background: linear-gradient(#f6f4ef 50%, transparent);
}

.logo {
  margin: 0;
  color: var(--accent-light);
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-weight: 400;
}

/* allows menu button (input) to gain focus,
 * making it tabbable for better accessibility */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  border: 2px solid var(--bg-dark);
}

.nav-toggle-label:after {
  background-color: var(--bg-dark);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50px;
}

.nav-toggle-label:hover {
  color: var(--accent-light);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-faded);
  text-align: left;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 150ms ease-in-out;
  z-index: -1;
  padding-top: 75px;
}

nav li {
  margin-bottom: 1em;
  margin-left: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

nav a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: var(--accent-light);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
}

/* -----------
 * MAIN LAYOUT
 * ----------- */

.projects {
  grid-area: projects;
  padding: 150px 0;
}

.about {
  grid-area: about;
  padding: 1.5em;
}

.container-main footer {
  grid-area: footer;
  padding: 1.5em;
}

/* for mobile view */
.container-main {
  display: grid;
  grid-template:
    "projects"
    "about"
    "footer"
    / 100vw;
}

/* for larger screens */
@media screen and (min-width: 400px) {
  .container-main {
    display: grid;
    grid-template:
      ". projects ."
      ". about ."
      ". footer ."
      / 3fr minmax(min-content, 75vw) 1fr;
  }
}

/* ------------------
 * PROJECTS SECTION
 * ------------------ */

/* project grid layout */
.projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 1.5em;
}

/* project preview tiles */
.projects li {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 1rem;
  background-size: cover;
  color: var(--text-primary);
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;

  border: 1px dotted cyan;
}

/* project preview images */
.projects li:nth-child(1) {
  background-image: linear-gradient(transparent 25%, #f6f4ef),
    url("../img/projects/painted-canvas.jpg");
}

.projects li:nth-child(2) {
  background-image: linear-gradient(transparent 25%, #f6f4ef),
    url("../img/projects/painted-canvas.jpg");
}

.projects li:nth-child(3) {
  background-image: linear-gradient(transparent 25%, #f6f4ef),
    url("../img/projects/painted-canvas.jpg");
}

.projects li:nth-child(4) {
  background-image: linear-gradient(transparent 25%, #f6f4ef),
    url("../img/projects/painted-canvas.jpg");
}

.projects li:nth-child(5) {
  background-image: linear-gradient(transparent 25%, #f6f4ef),
    url("../img/projects/painted-canvas.jpg");
}

.projects li:nth-child(6) {
  background-image: linear-gradient(transparent 25%, #f6f4ef),
    url("../img/projects/painted-canvas.jpg");
}

/* ---------------------
 * PROJECT DETAILS PAGE
 * --------------------- */

/* main page layout */
.container-project {
  padding: 150px 0;
  display: grid;
  grid-template-columns: minmax(1em, 1fr) 1fr minmax(min-content, 50vw) minmax(
      1em,
      1fr
    );
  grid-auto-flow: column;
}

/* timeline decoration (bullet+line) fills 2nd column of main page layout */
.container-bullet {
  grid-column: 2 / 3;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr minmax(4em, 8em) 1fr; /* controls size of bullets */
}

/* bullets align with top of each element that has class "container-content"
   (only direct children of "container-project") */
.bullet {
  grid-column: 2 / 3;
  grid-row: 1;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--bg-dark);
  border-radius: 50%;
  z-index: 1;
}

.vertical-line {
  grid-column: 2 / 3;
  grid-row: 1;
  height: 100%;
  width: 2px;
  background-color: var(--bg-dark);
  z-index: -1;
}

/* timeline text fills 3rd column of main page layout */
.container-content {
  grid-column: 3 / 4;
  margin: 0 0 5rem 2rem;
}

.container-img {
  display: inherit; /* collapses margin below img */
  grid-column: 1 / -1;
  z-index: 100;
  opacity: 0.5; /* ***delete later - shows if vertical-line is behind img */
}

.container-img img {
  width: 100%;
}

footer {
  grid-column: 3 / 4;
  padding: 1.5em 20px;
}

/* ------------------
 * *** DELETE LATER
 * ------------------ */

/* section,
footer {
  border: 2px solid red;
} */

/* ul,
li {
  border: 2px dotted green;
} */

/* .container-main,
.container-project,
.container-details {
  border: 5px solid cyan;
} */

.banner {
  padding: 150px 2em;
}
